<mat-card class="shadow-lg rounded-lg overflow-hidden">
  <mat-card-header class="bg-blue-300 text-white p-3 rounded-xl">
    <div mat-card-avatar class="bg-blue-700 rounded-full p-2">
      <mat-icon>assignment</mat-icon>
    </div>
    <mat-card-title class="text-xl font-bold">{{ task.title }}</mat-card-title>
    <mat-chip-list>
      <mat-chip [color]="task.priority === 'High' ? 'warn' : task.priority === 'Medium' ? 'primary' : 'accent'" selected>
        {{ task.priority }}
      </mat-chip>
    </mat-chip-list>
    <mat-card-subtitle class="text-sm">{{ task.deadline | date: 'short' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="p-4">
    <p class="text-gray-700 font-medium">{{ task.description }}</p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between items-center p-4">
    <div *ngIf="loading[task.id]" class="w-full">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-card-actions>
</mat-card>